_site
.sass-cache
/nbproject/private/
/source/d2l-zh
/backup/htmlist.ini
/source/gyp
/source/src
/source/platform-win32.cc
/source/libv8-therubyracer
tempdir
/assets/MathJax-master.zip
/assets/MathJax-2.7.5.zip
/invisible
/.gitmodules
*.pyc
*.py.bak
*.exe
*.filters
UserDataSpider
ffmpeg2pass-0.log
ffmpeg2pass-0.log.mbtree
docs.gl
*.selenium.png
/kernels
/现杀现烤 _ 重庆烤鱼·扎啤.pdf
/现杀现烤 _ 重庆烤鱼·扎啤
/memoryimgback
/memoryimg
.DS_Store
no-cache-dir
/ml-notes
/__pycache__
/netroot
/build
/imgserv.spec
/build_error_info.txt
/searchxfile.txt
/flagged
sync_datamap.txt
sync_dircurrent.json
kvision/imgclassify/mydata/exp/*.log
kvision/imgclassify/mydata/exp/*.json
kvision/imgclassify/dataset/datamap.txt
kvision/imgclassify/valset/datamap.txt
kvision/imgclassify/mydata/exp/mobilenet_v2_0905_0.880/*.log
kvision/imgclassify/mydata/exp/mobilenet_v3_small_0905_0.834/*.log
kvision/imgclassify/mydata/exp/efficientnet_b0_0905_0.880/*.log
kvision/imgclassify/mydata/exp/mobilenet_v3_large_0905_0.862/*.log
