/OcrLibTest64.exe
/OcrLibTest64d.exe
/pdfocr64.exe
/pdfocr64d.dll
/pdfocr64d.exe
/pdfocrsdk64.dll
/pdfocrsdk64d.dll
/pesearch.exe
/pesearch.json
/pdfocr64.pdb
/pdfocrsdk64.exp
/pdfocrsdk64.lib
/pdfocrsdk64.pdb
/remotelib64.lib
/remotelib64.pdb
/modules.log
/onnxruntime_providers_shared.dll
