<div class="captioned-img"
        {% if include.relocate %}relocate="{{ include.relocate }}"{% endif %}
        style="font-size:medium;font-weight:bolder;margin-top:1em;display:flex;justify-content:space-between;" >

{% if include.url %}<div style="width:47.5%;padding-bottom:0.75em;box-shadow:0 1px 0.75em rgba(27, 31, 35, 0.15), 0 0 1px rgba(106, 115, 125, 0.35);">
    <img src="{{ include.url | prepend: site.baseurl }}.thumbnail.webp"
        data-src="{{ include.url | prepend: site.baseurl }}" class="lazyload"
        style="border-radius:0px;margin-top:0em;width:100%;"
    />
    {% if include.caption %}<br/>{{ include.caption }}{% endif %}</div>
{% endif %}

{% if include.url2 %}<div style="width:47.5%;padding-bottom:0.75em;box-shadow:0 1px 0.75em rgba(27, 31, 35, 0.15), 0 0 1px rgba(106, 115, 125, 0.35);">
    <img src="{{ include.url2 | prepend: site.baseurl }}.thumbnail.webp"
        data-src="{{ include.url2 | prepend: site.baseurl }}" class="lazyload"
        style="border-radius:0px;margin-top:0em;width:100%;"
    />
    {% if include.caption2 %}<br/>{{ include.caption2 }}{% endif %}</div>
{% endif %}
</div>
