<div class="captioned-img"
        {% if include.relocate %}relocate="{{ include.relocate }}"{% endif %}
        style="font-size:medium;font-weight:bolder;margin-top:1em;box-shadow:0 1px 0.75em rgba(27, 31, 35, 0.15), 0 0 1px rgba(106, 115, 125, 0.35);" >
{% if include.url %}
    <img src="{% if page.kaliyun %}{{ include.url | prepend: site.aliyunurl }}{% else %}{{ include.url | prepend: site.baseurl }}{% endif %}.thumbnail.webp"
        data-src="{% if page.kaliyun %}{{ include.url | prepend: site.aliyunurl }}{% else %}{{ include.url | prepend: site.baseurl }}{% endif %}" class="lazyload"
        style="border-radius:0px;margin-top:0em;width:100%;"
    />
    {% if include.caption %}<br/>{% if include.title %}<span class="imagetitle">{{ include.title }}</span>&nbsp;{% endif %} {{ include.caption }}{% endif %}
{% endif %}
</div>
