<div class="captioned-img align{{include.align}} {% if include.noshadow %}noshadow{% endif %}"
        {% if include.relocate %}relocate="{{ include.relocate }}"{% endif %} >
{% if include.url %}
    <img src="{{ include.url | prepend: site.baseurl }}.thumbnail.webp"
        data-src="{{ include.url | prepend: site.baseurl }}" class="lazyload"
        {% if include.width %}width="{{ include.width }}"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% endif %}
        {% if include.style %}style="{{ include.style }}"{% endif %}
    />
    {% if include.caption %}<br/>{{ include.caption }}{% endif %}
{% endif %}

{% if include.url2 %}&nbsp;&nbsp;
    <img src="{{ include.url2 | prepend: site.baseurl }}.thumbnail.webp"
        data-src="{{ include.url2 | prepend: site.baseurl }}" class="lazyload"
        {% if include.width2 %}width="{{ include.width2 }}"{% endif %}
        {% if include.height2 %}height="{{ include.height2 }}"{% endif %}
        {% if include.style2 %}style="{{ include.style2 }}"{% endif %}
    />
    {% if include.caption2 %}<br/>{{ include.caption2 }}{% endif %}
{% endif %}

{% if include.url3 %}&nbsp;&nbsp;
    <img src="{{ include.url3 | prepend: site.baseurl }}.thumbnail.webp"
        data-src="{{ include.url3 | prepend: site.baseurl }}" class="lazyload"
        {% if include.width3 %}width="{{ include.width3 }}"{% endif %}
        {% if include.height3 %}height="{{ include.height3 }}"{% endif %}
        {% if include.style3 %}style="{{ include.style3 }}"{% endif %}
    />
    {% if include.caption3 %}<br/>{{ include.caption3 }}{% endif %}
{% endif %}
</div>
