<div class="captioned-img align{{include.align}} {% if include.noshadow %}noshadow{% endif %}"
        {% if include.relocate %}relocate="{{ include.relocate }}"{% endif %}
        {% if include.divstyle %}style="{{ include.divstyle }}"{% endif %} >
{% if include.url %}
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% endif %}
        {% if include.style %}style="{{ include.style }}"{% endif %}
    />
    {% if include.caption %}<br/>{{ include.caption }}{% endif %}
{% endif %}

{% if include.url2 %}&nbsp;&nbsp;
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url2 | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url2 | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width2 %}width="{{ include.width2 }}"{% endif %}
        {% if include.height2 %}height="{{ include.height2 }}"{% endif %}
        {% if include.style2 %}style="{{ include.style2 }}"{% endif %}
    />
    {% if include.caption2 %}<br/>{{ include.caption2 }}{% endif %}
{% endif %}

{% if include.url3 %}&nbsp;&nbsp;
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url3 | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url3 | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width3 %}width="{{ include.width3 }}"{% endif %}
        {% if include.height3 %}height="{{ include.height3 }}"{% endif %}
        {% if include.style3 %}style="{{ include.style3 }}"{% endif %}
    />
    {% if include.caption3 %}<br/>{{ include.caption3 }}{% endif %}
{% endif %}

{% if include.url4 %}&nbsp;&nbsp;
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url4 | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url4 | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width4 %}width="{{ include.width4 }}"{% endif %}
        {% if include.height4 %}height="{{ include.height4 }}"{% endif %}
        {% if include.style4 %}style="{{ include.style4 }}"{% endif %}
    />
    {% if include.caption4 %}<br/>{{ include.caption4 }}{% endif %}
{% endif %}

{% if include.url5 %}&nbsp;&nbsp;
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url5 | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url5 | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width5 %}width="{{ include.width5 }}"{% endif %}
        {% if include.height5 %}height="{{ include.height5 }}"{% endif %}
        {% if include.style5 %}style="{{ include.style5 }}"{% endif %}
    />
    {% if include.caption5 %}<br/>{{ include.caption5 }}{% endif %}
{% endif %}

{% if include.url6 %}&nbsp;&nbsp;
    <img

    {% if include.thumbnail %}
        src="http://10.12.168.199:9001{{ include.thumbnail | prepend: site.baseurl }}"
    {% else %}
        src="http://10.12.168.199:9001{{ include.url6 | prepend: site.baseurl }}{% if null == include.nolazyload %}.thumbnail.webp{% endif %}"
    {% endif %}

        {% if null == include.nolazyload %}data-src="http://10.12.168.199:9001{{ include.url6 | prepend: site.baseurl }}" class="lazyload"{% endif %}
        {% if include.width6 %}width="{{ include.width6 }}"{% endif %}
        {% if include.height6 %}height="{{ include.height6 }}"{% endif %}
        {% if include.style6 %}style="{{ include.style6 }}"{% endif %}
    />
    {% if include.caption6 %}<br/>{{ include.caption6 }}{% endif %}
{% endif %}

</div>
