<div class="captioned-img align{{include.align}}">
    <a href="{{ include.url | prepend: site.baseurl }}">
    {% if include.width %}
    <img src="{{ include.url | prepend: site.baseurl }}" width="{{ include.width }}" />
    {% else if include.height %}
    <img src="{{ include.url | prepend: site.baseurl }}" height="{{ include.height }}" />
    {% else %}
    <img src="{{ include.url | prepend: site.baseurl }}" />
    {% endif %}</a>{% if include.caption %}{{ include.caption }}{% endif %}
</div>
