<div class="captioned-img align{{include.align}} {% if include.noshadow %}noshadow{% endif %}">
<video autoplay="autoplay" loop="loop" width="600" height="450" muted>
    <source src="{{ include.url | append: ".264.mp4" | prepend: site.baseurl }}" type="video/mp4">
    <p>Your browser does not support the video element.</p>
</video></div>
<!--
<link type="text/css" href="{{ "/assets/Broadway-0.1.0/screen.css" | prepend: site.baseurl }}" rel="stylesheet" />

<script type="text/javascript" src="{{ "/assets/Broadway-0.1.0/Decoder.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/Broadway-0.1.0/WebGLCanvas.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/Broadway-0.1.0/Player.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/Broadway-0.1.0/stream.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/Broadway-0.1.0/mp4.js" | prepend: site.baseurl }}"></script>

/images/OpenGL-GLSL/0660a2ae-688a-48c9-b400-94c5017cb0d0.mp4
/assets/Broadway-0.1.0/Broadway-0.1.0/Player/mozilla_story.mp4

<div class="broadway" style="width:600px;height:450px;"
    src="{{ "/assets/Broadway-0.1.0/Broadway-0.1.0/Player/mozilla_story.mp4" | prepend: site.baseurl }}"
    width="600" height="450"
    workers="false" render="true" webgl="auto">
</div>

<script type="text/javascript">
function loadVideo() {
    var nodes = document.querySelectorAll('div.broadway');
    for (var i = 0; i < nodes.length; i++) {
        var broadway = new Broadway(nodes[i]);
        broadway.play();
    }
}
// 文档加载完成时
$(document).ready(function () {
    loadVideo();
});
</script>
-->
