.captioned-img {
    text-align: center;
    border: none;
    font-size: $small-font-size; // captioned-img
    padding-bottom: $spacing-unit/2;
}

.captioned-img.noshadow img {
    box-shadow: none;
}

.captioned-img img {
    margin: $spacing-unit/2 auto $spacing-unit/2 auto;
    border-radius: 3px;
    box-shadow: 0 1px $spacing-unit/2 rgba(27,31,35,.15), 0 0 1px rgba(106,115,125,.35);
    border: none;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0.75em;
}
.alignright {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 0.75em;
}

@include media-query($mobile) {
    .alignleft, .alignright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
