.page {
    margin: 0 auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    @include media-query($desktop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
        min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    }
}

.MathJax, .mjx-chtml {
    outline: 0;
}
.MathJax_Display, .MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
}

// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post {
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.post p {
    margin-top: 0;
    margin-bottom: $spacing-unit * 0.8;
}

.post h1, h2, h3, h4, h5, h6 {
    margin-top:    $spacing-unit * 0.8;
    margin-bottom: $spacing-unit * 0.2;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-light-color;
}

.post-link {
    display: block;
}

.post table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-top: $spacing-unit * 0.5;
    margin-bottom: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
}
.post table th {
    font-weight: 700;
    background-color: #f8f8f8;
}
.post table td, .post table th {
    padding: $spacing-unit * 0.2;
    border: 1px solid #ddd;
}
.post table tr {
    background-color: #fff;
}
.post table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

@include media-query($mobile) {
    #tocwrap {
        display: none;
    }
}

.back-to-top {
    cursor: pointer;
}
.back-to-top:hover {
    color: #b6321c;
    font-weight: bold;
    // font-style: normal;
}

#tocdiv.esa-catalog {
    font-size: large;
    position: fixed;
    top: $spacing-unit;
    left: $spacing-unit * 0.2;
    width: auto;
    height: 100%;
    z-index: 1000;
    min-width: 20em; // 存在代码依赖
    max-width: 20em; // 存在代码依赖

    ol, ul {
        list-style-type: cjk-ideographic;

        ol, ul {
            list-style-type: decimal;

            ol, ul {
                list-style-type: lower-alpha;

                ol, ul {
                    list-style-type: lower-roman;

                    ol, ul {
                        list-style-type: lower-greek;
                    }
                }
            }
        }
    }
}

#tocdiv.esa-catalog > ol {
    height: 90%; // js 会重新矫正
    overflow-y: auto;
    overflow-x: visible;
    margin-left: 0em;
}
#tocdiv.esa-catalog > ol > li {
    margin-left: 1.5em;
}
#tocdiv.esa-catalog li.active > a {
    font-weight: bold;
}

.post h1 {
    counter-reset: h2counter;
}
.post h1:before {
    counter-reset: h3counter;
}
.post h1:after {
    counter-reset: h4counter;
}
.post h2 {
    counter-increment: h2counter;
    counter-reset: h3counter;
}
.post h2:before {
    counter-reset: h4counter;
    content: counter(h2counter, cjk-ideographic) '\3001';
}
.post h3 {
    counter-increment: h3counter;
    counter-reset: h4counter;
}
.post h3:before {
    content: counter(h2counter) "." counter(h3counter) " ";
}
.post h4 {
    counter-increment: h4counter;
}
.post h4:before {
    content: counter(h4counter, lower-alpha) "." " ";
}
