.page {
    margin: 0 auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    @include media-query($desktop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
        min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    }
}

// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post {
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.post p {
    margin-top: 0;
    margin-bottom: $spacing-unit * 0.8;
}

.post h1, h2, h3, h4, h5, h6 {
    margin-top:    $spacing-unit * 0.8;
    margin-bottom: $spacing-unit * 0.2;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-light-color;
}

.post-link {
    display: block;
}

.post table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-top: $spacing-unit * 0.5;
    margin-bottom: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
}
.post table th {
    font-weight: 700;
    background-color: #f8f8f8;
}
.post table td, .post table th {
    padding: $spacing-unit * 0.2;
    border: 1px solid #ddd;
}
.post table tr {
    background-color: #fff;
}
.post table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.esa-catalog {
    position: fixed;
    top: $spacing-unit;
    left: $spacing-unit * 0.2;
    width: auto;
    height: auto;
    z-index: 1000;
    max-width: 15em;
    min-width: 15em;
}

@include media-query($mobile) {
    #tocwrap {
        display: none;
    }
}

.back-to-top {
    cursor: pointer;
}
.back-to-top:hover {
    color: #b6321c;
    font-weight: bold;
    // font-style: normal;
}

#tocdiv {
    ol {
        list-style-type: upper-roman;

        ol {
            list-style-type: decimal;

            ol {
                list-style-type: lower-alpha;

                ol {
                    list-style-type: lower-roman;
                }
            }
        }
    }
}
