Debug
Release
.vs
*.user
/*.exe
/*.dll
/ocrdemo-debug.zip
/ocrdemo-release.zip
/ocrdemo-debug
/ocrdemo-release
/pdfocr.json
/pdfocr.png
/modules.log
/pdfocr.exe.ini
runenv32
/excelfile.xlsx
/mask.png
/test.jpg-part-0.jpg
/test.jpg-part-1.jpg
/test.jpg-part-2.jpg
/test.jpg-part-3.jpg
/test.jpg-result.jpg
/图片文字编辑v1.7z
/图片文字编辑v1
/图片文字编辑v2
/图片文字编辑v2.7z
/background.png
/图片文字编辑v3-旋转加入.7z
/dist
/build
/pythonx
/ocrdemo-debug64.zip
/ocrdemo-release64.zip
/ocrdemo-release64
/ocrdemo-debug64
/pdfocr.pdb
/pdfocr64.pdb
/pesearch.json
*_info.json
*.json
/1_result
/2_result
/3_result
/result
/plugins
/ocrdemo-release - SDK.7z
/ocrdemo-release - SDK.zip
/ocrdemo-release - SDK
/ocrdemo-release 体验版.zip
/ocrdemo-release 体验版
/老模板识别结果 result.7z
/老模板识别结果 result
/ocrdemo-release - 副本
/ocrdemo-release - 副本.zip
/pdfaihelper.exe.ini
wechat
/wechatocr
/output
*.jpg
*.tif
*.md
*.html
*.json
