*.log
*.pdf
*.jpeg
*.webp
*.bat
*.win32.txt
*.win64.txt
*.intarray.txt
imgnocopy.txt
imgnocheck.txt
*.jpg.json
*.png.json
*.jpeg.json
testimg_BSRGAN-Text
*.ttf
*.gif
*.ttc
/myocr_rstdir_tmpdir
/ppocr_rstdir_tmpdir
*.svg
*.xlsx
*.docx
*.html
/mytable_sample.zip
/表格.rar
